.box {
    width: 100px;
    height: 100px;
    background-color: #e84610;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
}
.box2 {
    width:100px;
    height: 100px;
    background-color: #000;
    animation-name: spinning;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.box:hover {
    animation-name: doublesize;
    
}

@keyframes doublesize {
    0% {
        
    }
    100% {
        transform: scale(2);
        margin: 10px;
    }
}

.box2:hover {
    animation-name: spinning;
}

@keyframes spinning {
    0% {
        
    }
    100% {
        transform: rotate(360deg);
    }
}

.element {
    width: 100px;
    height: 100px;
    background-color: #000;
    animation-name: movex;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.element:hover {
    animation-name: movex;
}

@keyframes movex {
    0% {
        
    }
    100% {
        transform: translateX(200%);
    }
}









